
<h1>{{title}}</h1>
<p>Welcome on Anthony & Maxences's page</p>

<h1>Ironhack website</h1>


<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<h1>Ironhack website</h1>

<ul>
  <li>
    <a href="ironhackers/gutu">GutuGaluppo</a>
  </li>
</ul>

<h1>ironhack website</h1>


<ul>
  <li><a href="/ironhackers/nele">Nele</a></li>


<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<h1>Ironhack website</h1>

<ul>

  <li><a href="/ironhackers/maxence">Maxence</a></li>



  <li><a href="/ironhackers/feli">Feli</a></li>
  <li><a href="/ironhackers/samanta">Samanta</a></li>
  <li><a href="/ironhack/ziggy">Ziggy</a></li>
  <li><a href="/ironhackers/carlos">Carlos</a></li>
  <li><a href="/ironhackers/feli">Feli</a></li>
  <li><a href="/ironhackers/feli">Feli</a></li>


  <li><a href="/ironhackers/feli">Feli</a></li>
  <li><a href="/ironhackers/anna">Anna</a></li>
</ul>

<ul>
  <li><a href="/ironhackers/maxence">Maxence</a></li>

  <li><a href="/ironhackers/axel">Axel</a></li>
  <li><a href="/ironhackers/ziggy">Ziggy</a></li>
  <li><a href="/ironhackers/carlos">Carlos</a></li>
  <li><a href="/ironhackers/feli">Feli</a></li>



  <li><a href="/ironhackers/feli">Feli</a></li>
<<<<<<< HEAD
=======
<<<<<<< HEAD
</ul>
=======
</ul>
>>>>>>> 7d95c72f23be249d8af8b2ab6db85353f17ea9af
=======
=======
>>>>>>> 7d95c72f23be249d8af8b2ab6db85353f17ea9af
>>>>>>> bfed226b2e91606c1dee465412b877c2d08117d3
</ul>

>>>>>>> edcae4682ed74be8ceaf39999bb728dff9690b25
