<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<li><a href="/ironhackers/matthias">Matthias Website</a></li>
=======
=======
=======
<h1>{{title}}</h1>
<ul>
  <li>
    <a href="ironhackers/gutu">GutuGaluppo</a>
  </li>
</ul>
=======
>>>>>>> 7d95c72f23be249d8af8b2ab6db85353f17ea9af
>>>>>>> edcae4682ed74be8ceaf39999bb728dff9690b25
<h1>ironhack website</h1>

<ul>
  <li><a href="/ironhackers/nele">Nele</a></li>
<<<<<<< HEAD

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


>>>>>>> 970e6abb2e4489a4495153a089086d8c14464acf
<h1>Ironhack website</h1>

<ul>
=======
>>>>>>> 7d95c72f23be249d8af8b2ab6db85353f17ea9af
  <li><a href="/ironhackers/maxence">Maxence</a></li>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
</ul>
>>>>>>> 46a86bd6a667b08992ed50649a7e957eb152336e
=======
>>>>>>> 970e6abb2e4489a4495153a089086d8c14464acf
=======
  <li><a href="/ironhackers/axel">Axel</a></li>

</ul>
=======
>>>>>>> 953a012ae0db7ae3a7ca487cf5829fc12ed822af
>>>>>>> 7715d6c293bba5a96c82e3ada4c3bccf2aec6d2c

=======
  <li><a href="/ironhackers/axel">Axel</a></li>
>>>>>>> edcae4682ed74be8ceaf39999bb728dff9690b25
  <li><a href="/ironhack/ziggy">Ziggy</a></li>
  <li><a href="/ironhackers/carlos">Carlos</a></li>
  <li><a href="/ironhackers/feli">Feli</a></li>
<<<<<<< HEAD



  <li><a href="/ironhackers/feli">Feli</a></li>
=======
>>>>>>> 7d95c72f23be249d8af8b2ab6db85353f17ea9af
</ul>

